<!-- HEADER -->
<div class="header-utility">
  <div class="layout-constrain">
    <!-- <nav class="nav--utility nav">
      <a href="" class="nav__link">Member Login</a>
    </nav> -->
  </div>
</div>
<div class="header-main">
  <div class="header-main__content layout-constrain">
    <div class="logo">
      <a ui-sref="home" class="logo__link">
        <img src="../images/Ca-Gov-Logo-Blue.svg" class="logo__image" alt="">
      </a>
    </div>
    <nav class="nav--main-menu nav">
      <a ui-sref="about" class="nav__link nav__link--about">About</a>
      <a href="" class="nav__link nav__link--account">My Account</a>
    </nav>
  </div>
</div>
<!-- / HEADER -->
