<header></header>

<!-- user PAGE -->
<div class="page page--user">

  <!-- PAGE TITLE -->
  <div class="page-title">
    <h1>Account Information</h1>
  </div>
  <!-- / PAGE TITLE -->

  <div class="layout-constrain--small">

    <!-- Display Contact Informaton -->
    <div class="user-info user-info--contact">
      <h3>Contact Information</h3>
      <div class="user-info__text">
        <span>{{::user.get('first_name')}}</span>
        <span>{{::user.get('last_name')}}</span>
      </div>
      <div class="user-info__text">
        <span>{{::user.get('email')}}</span>
      </div>
      <div class="user-info__text">
        <span>{{::user.get('phone')}}</span>
      </div>
    </div>


    <!-- Display Address -->
    <div class="user-info user-info--address">
      <h3>Address</h3>
      <div class="user-info__text" ng-repeat="location in locations track by location.id">
        <user-location class="edit-address-buttons" on-save="saveLocation(location)" on-delete="deleteLocation(location)" location="location"></user-location>
      </div>

      <a href="#" ng-click="addLocation()" ng-enabled="canAddLocation" class="button--add-address">Add Another Address</a>
    </div>


    <!-- Display Alert Types -->
    <div class="user-info user-info--alerts">
      <h3>Alert Types</h3>
      <div class="user-info__row">
        <div class="form__checkbox" ng-repeat="type in alertTypes track by type.value">
          <input type="checkbox" ng-disabled="!canEditUser" name="alert" ng-model="alerts[type.value]" ng-model-options="{debounce: 500}" ng-change="updateAlerts(type.value)">
          <span>{{::type.label}}</span>
        </div>
      </div>


      <!-- Display Alert Delivery Methods -->
      <h3>Alert Delivery</h3>
      <div class="user-info__row">
        <div class="form__checkbox" ng-repeat="method in notificationMethods track by method.value">
          <input type="checkbox" ng-disabled="!canEditUser" name="method" ng-model="methods[method.value]" ng-model-options="{debounce: 500}" ng-change="updateMethods(method.value)">
          <span>{{::method.label}}</span>
        </div>
      </div>
    </div>

    <!-- Edit Account Information Button -->
    <a class="button" href="#">Edit Account</a>

  </div>
</div>
<!-- / user PAGE -->

<footer></footer>
