<table>
  <thead>
    <tr>
      <td>ID</td>
      <td>Date</td>
      <td>Hazard Type</td>
      <td>Messages Sent</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>2017/02/26 12:00:00</td>
      <td>Wildfire</td>
      <td>50</td>
    </tr>
    <tr>
      <td>2</td>
      <td>2017/02/26 16:00:00</td>
      <td>Earthquake</td>
      <td>70</td>
    </tr>
    <tr>
      <td>3</td>
      <td>2017/02/27 14:10:00</td>
      <td>Tsunami</td>
      <td>10</td>
    </tr>
    <tr>
      <td>4</td>
      <td>2017/02/28 12:00:00</td>
      <td>Wildfire</td>
      <td>200</td>
    </tr>
    <tr>
      <td>5</td>
      <td>2017/03/01 12:00:00</td>
      <td>Flood</td>
      <td>150</td>
    </tr>
  </tbody>
</table>