// IMPORT VARIABLES
@import 'variables';

body {
  margin: 0;
  font-family: 'source sans pro', arial, helvetica;
  font-size: 16px;
}

// .state {
//   min-height: 100vh;
// }

h1 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
  color: $blue;
}

a {
  &:hover {
    color: $blue;
  }
}

// LAYOUT CONSTRAIN
.layout-constrain {
  padding: 0 1em;
  max-width: 1100px;
  margin: 0 auto;
}

.layout-constrain--small {
  padding: 0 1em;
  max-width: 700px;
  margin: 0 auto;
}

.layout-constrain--xs {
  padding: 0 1em;
  max-width: 500px;
  margin: 0 auto;
}
