// IMPORT VARIABLES
@import 'variables';

.button {
  background-color: $blue;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: 'source sans pro', arial, helvetica;
  font-size: 14px;
  font-weight: 600;
  margin: 4em auto;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 200ms ease-out;
  width: 240px;

  &:hover {
    background-color: $dark-blue;
    color: #fff;
  }
}

.button--add-address {
  color: #bababa;
  display: block;
  font-size: 15px;
  margin: .5em;
  text-transform: uppercase;

  &:before {
    background-image: url(../images/icon-plus.svg);
    background-size: 100%;
    content: "";
    display: inline-block;
    height: 11px;
    width: 11px;
    margin-right: .5em;
  }
}
