// IMPORT VARIABLES
@import 'variables';

.button {
  display: block;
  padding: 1em 2em;
  background-color: $blue;
  color: #fff;
  transition: all 200ms ease-out;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  width: 240px;
  border-style: none;
  cursor: pointer;
  margin: 3em auto;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  font-family: 'source sans pro', arial, helvetica;

  &:hover {
    background-color: $dark-blue;
    color: #fff;

  }
}
