//IMPORT VARIABLES
@import 'variables';

footer {
  margin-top: 4em;
  background-color: $black;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5em 0;
  flex-wrap: wrap;
}

.nav--footer {
  margin-bottom: 1em;

  .nav__link {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    margin: 0 1em;

    &:hover {
      color: $gold;
    }
  }
}

.nav--footer-utility {
  .nav__link {
    color: #fff;
    text-decoration: none;

    &:hover {
      color: $gold;
    }
  }
}

@media screen and (min-width: 500px){
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
  }

  .nav--footer {
    margin-bottom: 0;
    
    .nav__link {
      margin: 0 2em 0 0;
    }
  }
}
