.page {
  min-height: 500px;
}

// PAGE TITLE
.page-title {
  background-color: #ebebeb;
  padding: 1.5em 1em;
  margin-bottom: 3em;

  h1 {
    text-align: center;
    color: $blue;
    font-weight: 500;
  }
}
