.page--user {

  h3 {
    margin-top: 2em;
    text-align: center;
  }

  .button--add-address {
    text-align: center;
  }

  .form__checkbox {
    margin-right: 0;
  }
}

.user-info {
  //margin: .7em 0;
  font-size: 20px;
  text-align: center;
}

.user-info__text {
  margin: .5em 0;
}

.user-info__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;

  .form__checkbox {
    margin: .5em 1em;
  }
}

@media screen and (min-width: 480px) {
  .user-info__row {
    flex-direction: row;
  }
}

.button__row {
  display: flex;
  justify-content: center;
  margin-top: 4em;
  flex-wrap: wrap;

  .button {
    margin: 1em auto;
  }
}
